.body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 70vw;
    height: 100vh;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    border: solid black;
}
.grid div {
    width: 25px;
    height: 25px;
}

.pac-dot {
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
    border-radius: 50%;
}

.wall {
    background-color: black;
}

.power-pellet {
    background-color: green;
    border-radius: 50%;
}

.blinky {
    background-color: red;
    border: 0;
    border-radius: 0;
}
.pinky {
    background-color: pink;
    border: 0;
    border-radius: 0;
}
.inky {
    background-color: cyan;
    border: 0;
    border-radius: 0;
}
.clyde {
    background-color: orange;
    border: 0;
    border-radius: 0;
}
.pac-man {
    position: relative;
}
.pac-man.right {
    transform: rotate(0deg);
}
.pac-man.left {
    transform: rotate(180deg);
}
.pac-man.up {
    transform: rotate(-90deg);
}
.pac-man.down {
    transform: rotate(90deg);
}
.pac-man::before, .pac-man::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    border-radius: 50%;
    border: solid 12px yellow;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: mouth-top 0.7s ease infinite;
}
.pac-man::after {
    border-color: yellow;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: mouth-bottom 0.7s ease infinite;
}


.blinky.scared-ghost {
    background-color: aquamarine;
}
.pinky.scared-ghost {
    background-color: aquamarine;
}
.inky.scared-ghost {
    background-color: aquamarine;
}
.clyde.scared-ghost {
    background-color: aquamarine;
}

@keyframes mouth-top {
    50% {
        transform: rotate(44deg);
    }
}

@keyframes mouth-bottom {
    50% {
        transform: rotate(-44deg);
    }
}
