.body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 70vw;
    height: 100vh;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    border: solid black;
}
.grid div {
    width: 25px;
    height: 25px;
}

.pac-dot {
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
    border-radius: 50%;
}

.wall {
    background-color: black;
}

.power-pellet {
    background-color: green;
    border-radius: 50%;
}

.blinky {
    background-color: red;
    border: 0px;
}
.pinky {
    background-color: pink;
    border: 0px;
}
.inky {
    background-color: cyan;
    border: 0px;
}
.clyde {
    background-color: orange;
    border: 0px;
}
.pac-man {
    background-color: #ffff00;
    border-radius: 50%;
}

.blinky.scared-ghost {
    background-color: aquamarine;
}
.pinky.scared-ghost {
    background-color: aquamarine;
}
.inky.scared-ghost {
    background-color: aquamarine;
}
.clyde.scared-ghost {
    background-color: aquamarine;
}

