@font-face {
    font-family: "PressStart2P";
    src: url("./fonts/PressStart2P.ttf");
}
body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: "PressStart2P", sans-serif;
    background-color: black;
}

.body-wrapper {
    margin: 0 auto;
    width: 70vw;
    height: 100vh;
}
.time-score-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
}

.grid {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    border: solid black;
}
.grid > div {
    width: 25px;
    height: 25px;
}
.time-interval, .score-board {
    /*font-size: 20px;*/
    color: white;
}
.color-stop {
    color: red;
}
.pac-dot {
    background-color: yellow;
    border: 8px solid black;
    box-sizing: border-box;
    border-radius: 50%;
}

.wall {
    background-color: rgb(8, 14, 102);
}

.power-pellet {
    box-sizing: border-box;
    border: 4px solid black;
    background-color: rgb(14, 233, 14);
    border-radius: 50%;
}

.blinky {
    background-color: red;
    border: 0;
    border-radius: 0;
}
.pinky {
    background-color: pink;
    border: 0;
    border-radius: 0;
}
.inky {
    background-color: cyan;
    border: 0;
    border-radius: 0;
}
.clyde {
    background-color: orange;
    border: 0;
    border-radius: 0;
}
.pac-man {
    position: relative;
    transition: transform 0.1s;
}
.pac-man.right {
    transform: rotate(0deg);
}
.pac-man.left {
    transform: rotate(180deg);
}
.pac-man.up {
    transform: rotate(-90deg);
}
.pac-man.down {
    transform: rotate(90deg);
}
.pac-man::before, .pac-man::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    border-radius: 50%;
    border: solid 12px yellow;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: mouth-top 0.7s ease infinite;
}
.pac-man::after {
    border-color: yellow;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: mouth-bottom 0.7s ease infinite;
}

.ghost {
    position: relative;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}
.ghost::before, .ghost::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 10px;
    width: 8px;
    border-radius: 100%;
    top: 2px;
    left: 3px;
}
.ghost::after {
    top: 2px;
    left: 14px;
}
.eyes::before, .eyes:after {
    content: "";
    position: absolute;
    background-color: blue;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    top: 5px;
    left: 3px;
    z-index: 99;
    animation: peeper-left 0.7s linear infinite;
}
.eyes::after {
    top: 5px;
    left: 15px;
    animation: peeper-right 0.7s linear infinite;
}
.blinky.scared-ghost {
    background-color: aquamarine;
}
.pinky.scared-ghost {
    background-color: aquamarine;
}
.inky.scared-ghost {
    background-color: aquamarine;
}
.clyde.scared-ghost {
    background-color: aquamarine;
}

@keyframes mouth-top {
    50% {
        transform: rotate(44deg);
    }
}

@keyframes mouth-bottom {
    50% {
        transform: rotate(-44deg);
    }
}

@keyframes peeper-left {
    0%, 100% {left: 3px;}
    50% {left: 6px;}
}

@keyframes peeper-right {
    0%, 100% {left: 15px;}
    50% {left: 18px;}
}
